@model IEnumerable<L08HandsOn.Models.Movie>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Movies Index";
}
<h2>Movies Index</h2>
@if ((await AuthorizationService.AuthorizeAsync(User, "Manager")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
{
    <a asp-action="Watched" class="btn btn-dark">Seen Already</a>
    <br /> <br />
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Details
            </th>
            @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
            {
                <th>
                    @Html.DisplayNameFor(model => model.TimesWatched)
                </th>
                <th></th>
                <th></th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.TimesWatched)
                    </td>

                }

                @if ((await AuthorizationService.AuthorizeAsync(User, "Manager")).Succeeded)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                {
                    <td>
                        <a asp-action="Watch" asp-route-id="@item.Id" style="background-color: red; color: white; padding: 5px;">Watch</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>